.sidenav {
  height: 100%;
  background-color:  #0099ff; /* Cornflower Blue */
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;

}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.opensesame{
  font-size: 2.2em;
}
